.gallery {
  margin: 30px;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
  height: 200px;
  border-radius:15px; 
}

.container{
	width: 100%
	height:auto;
	padding-left:60px; 
	padding-top: 70px;
  margin-left: 3%;

}
.gallery:hover {
  border: 1px solid blue;
   background-color: ;
}

.gallery img {
  width: 100%;
  height: 100px;
   border-radius:15px 15px 0px 0px; 
}

.desc {
  padding: 15px;
  text-align: center;
  font-size: 14px;
}
 img {
  width: inherit;
  height: 100%;
}
